# dependencies
**/node_modules
**/package-lock.json

# testing
/coverage

/examples/**/dist

# production
/packages/react-form-composer/lib
/packages/react-form-composer-redux-provider/lib
/storybook-static
yarn-error.log

# next examples
examples/**/.next
